@media(min-width: 500px){
	.responsive{
		display:inline-block;
		width: 200px;
		border: 1px solid black;
	}
}

@media(min-width: 1000px){
	.responsive{
		display:inline-block;
		width: 500px;
		border:1px solid black;
	}
}

body{
	color: white;
	background: green;
}

a{
	color: gray;
	text-decoration: none;
}

a:hover{
	color: black;
	background: white;
}

.greenlink:hover{
	color: green;
	background: gray;
}

h1{
	font-family: monospace;
	font-size: 75pt
}

.indent{
	margin-left: 20px
}

.gap_below{
	margin-bottom: 20px
}